/* Basic styling */
body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
  gap: 5rem; /* space between poster and image */
  flex-wrap: wrap; /* allows stacking on smaller screens */
}

.poster {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10rem;
  border-radius: 60px;
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.6);
  max-width: 1000px;
  width: 100%;
}

h1 {
  font-size: 12rem;
  margin-bottom: 2rem;
  letter-spacing: 3px;
  line-height: 1.1;
}

h2 {
  font-size: 4rem;
  margin-bottom: 3rem;
}

#countdown {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

#countdown div {
  flex: 1;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding: 2rem;
  text-align: center;
}

#countdown span {
  font-size: 8rem;
  display: block;
  font-weight: bold;
}

#countdown p {
  font-size: 3rem;
  margin: 1rem 0 0;
}

.release-date {
  margin-top: 3rem;
  font-size: 2.5rem;
  color: #ffeaea;
}

/* Image Styling */
.image-container {
  max-width: 800px;
}

.album-image {
  width: 100%;
  border-radius: 40px;
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.2);
}

/* Footer Styling */
copyright {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 1.2rem;
  color: #aaa;
  z-index: 9999;
  background: transparent;
}


