body {
    color: rgb(26, 26, 26);
    background-color: rgb(39, 39, 39);
}
div {
    margin-right: 10px;
}

.black {
    background-color: #000000;
}
.red {
    background-color: #DD0000;
}
.yellow {
    background-color: #FFCC00;
    margin-bottom: 20px;
}
.wrapper {
    display: flex;
    flex-wrap:wrap;
    align-content:center;
}
.wrapper div {
    width: 60%;
    height: 100px;
    margin-right: 50%;
    
    box-sizing: border-box;
}

.wrapper div:nth-child(3) {
}



.green {
    background-color: #008C45;
}
.white {
    background-color: #F4F9FF;
}
.red {
    background-color: #CD212A;
}